.header__item {
    background: rgb(112 112 112);
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    padding:  0px 5px 0px 5px; 
}
.header__item:hover {
    background:  #fbdc33;
    color: black;
    font-weight: bold;
}

/* layout responsivo */

@media screen and (min-width: 0){
    .header__item{
        font-size: 12px;
        height: 50%;
        margin: 25px -15px 0px -15px;
    }
}

@media screen and (min-width: 768px){
    .header__item{
        font-size: 13px;
        margin: 20px 15px 20px 25px;
    }

}