.header__logo {
    position: relative;
}

/* layout responsivo */
@media screen and (min-width: 0){
    .header__logo{
        height: 80px;
        top: 36px;
    }
}

@media screen and (min-width: 768px){
    .header__logo{
        height: 105px;
        top: 10%;
        width: 12%;
    }

}