.header__logo {
    position: relative;
}

/* layout responsivo */
@media screen and (min-width: 0){
    .header__logo{
        height: 62px;
        top: 28%;
        left: -3%;
        width: 32%;
    }
}

@media screen and (min-width: 768px){
    .header__logo{
        height: 85px;
        left: 0;
        top: 12%;
        width: 15%;
    }

}