.header__item2 {
    cursor: pointer;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    width: 8%;
}
.header__item2:hover {
    color: whitesmoke;
   text-decoration: underline 3px #fbdc33;
   transition: 1ms;
}

/* layout responsivo */

@media screen and (min-width: 0){
    .header__item2{
        display: inline;
        font-size: 12px;
        padding-left: 15px;
    }
}

@media screen and (min-width: 768px){
    .header__item2{
        display: inline;
        font-size: 14px;
        margin: 32px 8px 35px 10px;
        padding: 2px 0 2px 0px;
    }

}
