.header__titulo {
    color: gold;
    font-family: 'Bangers', cursive;
    font-size: 25px;
    padding: 0 10px 0 25%;
    text-shadow: 0px 6px 3px black;
    width: 35%;
}
/* layout responsivo */
@media screen and (min-width: 0){
    .header__titulo{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .header__titulo{
        display: flex;
    }

}