.header__item {
    background: rgb(112 112 112);
    border: none;
    
    color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    padding: 0px 4px 0px 4px;
}
.header__item:hover {
    background:  #fbdc33;
    color: black;
    font-weight: bold;
}

/* layout responsivo */

@media screen and (min-width: 0){
    .header__item{
        border-radius: 15px;
        font-size: 11px;
        height: 80%;
        margin: 10px 5px 0 -34px;
    }
}

@media screen and (min-width: 768px){
    .header__item{
        border-radius: 10px;
        font-size: 13px;
        margin: 10px 25px 60px 5px;
    }

}