.footer__title {
    color: #c9c5c5;
    display: flex;
    font-family: 'Bangers', cursive;
    left: 110px;
    text-align: center;
}
@media screen and (min-width: 0px){
    .footer__title{
        font-size: 10px;
        left: 30%;
        position: absolute;
        top: 52%;
    }
}

@media screen and (min-width: 768px){
    .footer__title{
        font-size: 10px;
        left: 42%;
        position: absolute;
        top: 70%;
    }
}