.footer {
    background: #161414;    
}

@media screen and (min-width: 0){
    .footer {
        display: flex;
        height: 106px;
        position: relative;
        top: 208%;
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .footer {
        display: flex;
        height: 106px;
        position: absolute;
        top: 220%;
        width: 100%;
    }
}