.footer__img{
    display: flex;
}

@media screen and (min-width: 0){
    .footer__img{
        height: 35%;
        left: 185px;
        position: absolute;
        top: 25%;
    }
}
@media screen and (min-width: 768px){
    .footer__img{
        height: 40%;
        left: 47%;
        top: 30%;
    }

}