body {
    background: #202020;
    margin: 0;
    padding: 0;
    width: 100%;
} 
.content {
    height: 510px;
    left: 50%;
    position: absolute;
    overflow: hidden;
    top: 46.5%;
    transform: translate(-50%, -35%);
    width: 100%;
}
.navigation {
    display: flex;
    left: 50%;
    position: absolute;
    transform: translate(-50%) ;
}
.bar {
    width: 40px;
    
    border: 2px solid white;
   
   
    cursor: pointer;
    transition: .3s;
}
.bar:hover {
    background: rgb(72, 201, 252);
    
}
input {
    display: none;
}
.slides {
    display: flex;
    height: 100%;
    width: 500%;
}
.slide {
    transition: .6s;
    width: 20%;
}
.slide img {
    width: 100%; 
}
#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}
#slide5:checked ~ .s1{
    margin-left: -80%;
}

/* Layout responsivo */
@media screen and (min-width: 0){
    .slide img {
        height: 80%;
    }
    .navigation{
        bottom: 100px;
    }
    .bar {
        border-radius: 13px;
        height: 15px;
        margin: 15px;
        width: 15px;
    }
    .body {
        height: 1015px;
    }
  
}
@media screen and (min-width: 768px){
    .slide img {
        height: 100%;
    }
    .navigation {
        bottom: 20px;
    }
    .bar {
        border-radius: 25px;
        height: 15px;
        margin: 15px;
        width: 15px;
    }
    .s1 {
        height: 800px;
    }
    .body {
        height: 1225px;
    }
}