.cotacoes {
    color: gold;
    display: flex;
    font-family: 'Bangers', cursive;
    margin: 315px 0 0 0;
    padding-left: 15px;
    text-align: center;
    text-shadow: 5px 6px 3px black;
}
@media screen and (min-width: 0){
    .cotacoes__titulo{
        font-size: 30px;
        position: absolute;
        left: 16%;
        top: 68%;
    }   

}
@media screen and (min-width: 768px){
    .cotacoes__titulo{
        font-size: 35px;
        position: absolute;
        left: 39.5%;
        top: 102%;
    }
    
}